# -FrontPage-

# IndexIgnore .htaccess */.??* *~ *# */HEADER* */README* */_vti*
# IndexIgnore *
ErrorDocument 400 /index.html
ErrorDocument 401 /index.html
ErrorDocument 403 /index.html
ErrorDocument 404 /index.html
ErrorDocument 500 /index.html

<Limit GET POST>
order deny,allow
deny from all
allow from all
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName symphori.com
AuthUserFile /home/symphor1/public_html/_vti_pvt/service.pwd
AuthGroupFile /home/symphor1/public_html/_vti_pvt/service.grp
