<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Green Foundation</title>
  </head>
  <body>
    <div id="pageLayoutGrid">

      <!-- Navigation section of the grid -->
      <nav id="nav">
        <div id="navItems">
          <div class="navItem">
            <div class="navLink">Green Foundation</div>
          </div>
          <div class="navItem">
            <div class="navLink">About</div>
            <div class="navDropdown">
              <div class="navDropdownLink">Mission and Vision</div>
              <div class="navDropdownLink">History</div>
            </div>
          </div>
          <div class="navItem">
            <div class="navLink">Projects</div>
          </div>
          <div class="navItem">
            <div class="navLink">News</div>
            <div class="navDropdown">
              <div class="navDropdownLink">Events Calendar</div>
              <div class="navDropdownLink">Image Gallery</div>
            </div>
          </div>
          <div class="navItem">
            <div class="navLink">Get Involved</div>
            <div class="navDropdown">
              <div class="navDropdownLink">Donate</div>
              <div class="navDropdownLink">Online Store</div>
              <div class="navDropdownLink">Volunteer</div>
            </div>
          </div>
          <div class="navItem">
            <div class="navLink">Contact Us</div>
          </div>
        </div>
        <!-- CTA is short for Call To Action -->
        <div id="navCtas">
          <div class="navCta">DONATE</div>
        </div>
      </nav>

      <!-- Hero section of the grid -->
      <header id="header">
        <div class="eyebrow">Planting the Seeds of the Future</div>
        <h1 class="heroHeading">
          Poverty and environmental degradation are intrinsically linked. By
          healing the environment, we can heal lives as well.
        </h1>
        <form>
          <div>
            <label>Email Address</label>
            <input id="subscriptionEmail" type="text" name="email">
            <input id="subscriptionSubmit" type="submit" value="Subscribe!">
          </div>
        </form>
      </header>

      <!-- Banner section of the grid -->
      <section id="banner">
        <div class="bannerItem">
          <h3>Get Started in Your Community</h3>
          <p>
            Curious about what you can do in your neighborhood? Download our
            free eBook to find out.
          </p>
          <div>
            <a class="downloadButton" href="#">DOWNLOAD</a>
          </div>
        </div>
        <div class="bannerItem">
          <h3>Take Part in our Green Thumb Initiative</h3>
          <p>
            Community gardens are an excellent opportunity to provide for the
            needy in your neighborhood, while also providing a chance to educate
            young people about how food is grown.
          </p>
          <div>
            <a class="learnMoreButton" href="#">LEARN MORE</a>
          </div>
        </div>
        <div class="bannerItem">
          <h3>Follow Us on Social Media</h3>
          <div>
            <a class="socialMediaLink" href="#">
              <img src="twitter.png" alt="twitter" />
            </a>
            <a class="socialMediaLink" href="#">
              <img src="facebook.png" alt="facebook" />
            </a>
            <a class="socialMediaLink" href="#">
              <img src="instagram.png" alt="instagram" />
            </a>
          </div>
        </div>
      </section>

      <!-- Storefront section of the grid -->
      <section id="storefront">
        <h2>Add some GREEN into your life from our online store</h2>
        <div id="shopGrid">
          <div class="shopItemCard">
            <img class="shopItemImage" alt="tshirt1" src="tshirt1.png" />
            <div class="shopItemBadge">TSHIRT</div>
            <form class="shopItemSelection">
              <select name="quantity">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
              <input type="submit" value="Purchase">
            </form>
          </div>
          <div class="shopItemCard">
            <img class="shopItemImage" alt="tshirt2" src="tshirt2.png" />
            <div class="shopItemBadge">TSHIRT</div>
            <form class="shopItemSelection">
              <select name="quantity">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
              <input type="submit" value="Purchase">
            </form>
          </div>
          <div class="shopItemCard">
            <img class="shopItemImage" alt="tshirt3" src="tshirt3.png" />
            <div class="shopItemBadge">TSHIRT</div>
            <form class="shopItemSelection">
              <select name="quantity">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
              <input type="submit" value="Purchase">
            </form>
          </div>
          <div class="shopItemCard">
            <img class="shopItemImage" alt="tshirt4" src="tshirt4.png" />
            <div class="shopItemBadge">TSHIRT</div>
            <form class="shopItemSelection">
              <select name="quantity">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
              <input type="submit" value="Purchase">
            </form>
          </div>
          <div class="shopItemCard">
            <img class="shopItemImage" alt="mug1" src="mug1.png" />
            <div class="shopItemBadge">COFFEE MUG</div>
            <form class="shopItemSelection">
              <select name="quantity">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
              <input type="submit" value="Purchase">
            </form>
          </div>
          <div class="shopItemCard">
            <img class="shopItemImage" alt="mug2" src="mug2.png" />
            <div class="shopItemBadge">COFFEE MUG</div>
            <form class="shopItemSelection">
              <select name="quantity">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
              <input type="submit" value="Purchase">
            </form>
          </div>
          <div class="shopItemCard">
            <img class="shopItemImage" alt="seeds1" src="seeds1.png" />
            <div class="shopItemBadge">SEEDS</div>
            <form class="shopItemSelection">
              <select name="quantity">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
              <input type="submit" value="Purchase">
            </form>
          </div>
          <div class="shopItemCard">
            <img class="shopItemImage" alt="seeds2" src="seeds2.png" />
            <div class="shopItemBadge">SEEDS</div>
            <form class="shopItemSelection">
              <select name="quantity">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
              <input type="submit" value="Purchase">
            </form>
          </div>
        </div>
      </section>

      <!-- Blog section of grid -->
      <section id="blog">
        <h2>Check out our latest blog posts</h2>
        <div class="blogPost">
          <div class="blogPostImage">
            <img src="happyplants.png" alt="happy plants" />
          </div>
          <div class="blogPostPreview">
            <h3 class="blogPostPreviewTitle">
              Will talking to plants help them grow?
            </h3>
            <p>
              We've heard some pretty ridiculous urban (and rural) myths when it
              comes to growing your crops.  But just because they sound silly
              doesn't mean they aren't true.  So we decided to try them out
              ourselves to find out just how...
            </p>
            <div>Keep reading</div>
          </div>
        </div>
        <div class="blogPost">
          <div class="blogPostPreview">
            <h3 class="blogPostPreviewTitle">
              Arid field becomes radiant garden
            </h3>
            <p>
              An empty barren field on the outskirts of a rural village in the
              south had been a blight on the poor but otherwise lively town.
              Fast forward six months, and see what a difference a little
              irrigation made in the lives of these villagers...
            </p>
            <div>Keep reading</div>
          </div>
          <div class="blogPostImage">
            <img src="happypeople.png" alt="happy people" />
          </div>
        </div>
      </section>

      <!-- Footer section of grid -->
      <footer id="footer">
        <div id="footerItems">
          <div class="footerItem">
            <div class="footerLink">Green Foundation</div>
          </div>
          <div class="footerItem">
            <div class="footerLink">About</div>
            <div class="footerLink">Mission and Vision</div>
            <div class="footerLink">History</div>
          </div>
          <div class="footerItem">
            <div class="footerLink">Projects</div>
          </div>
          <div class="footerItem">
            <div class="footerLink">News</div>
            <div class="footerLink">Events Calendar</div>
            <div class="footerLink">Image Gallery</div>
          </div>
          <div class="footerItem">
            <div class="footerLink">Get Involved</div>
            <div class="footerLink">Donate</div>
            <div class="footerLink">Online Store</div>
            <div class="footerLink">Volunteer</div>
          </div>
          <div class="footerItem">
            <div class="footerLink">Contact Us</div>
          </div>
        </div>
        <div id="footerSocialMedia">
          <h3>Follow Us on Social Media</h3>
          <div>
            <a class="socialMediaLink" href="#">
              <img src="twitter.png" alt="twitter" />
            </a>
            <a class="socialMediaLink" href="#">
              <img src="facebook.png" alt="facebook" />
            </a>
            <a class="socialMediaLink" href="#">
              <img src="instagram.png" alt="instagram" />
            </a>
          </div>
        </div>
        <div id="copyright">
          <span>© 2022 The Green Foundation</span>
          Terms of Use | Privacy Statement | Charitable Solicitation Disclosures
          | Mobile Terms & Conditions | Title VI Notice of Nondiscrimination
        </div>
      </footer>
    </div>
  </body>
</html>
